
/*   RESET   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*   VARIABLES   */

:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

/*   TYPOGRAPHY   */

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

h1 {
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}

.question {
    font-size: 0.9rem;
}

.active .question p {
    color: black;
    font-weight: bolder;
}

.answer {
    color: var(--dark-grayish-blue);
    font-size: 0.8rem;
    line-height: 1.5em;
}

/*   LAYOUT   */

html, 
body {
    height: 100%;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main,
footer {
    margin-top: auto;
}

main {
    background: url("./images/bg-pattern-mobile.svg") no-repeat, white;
    background-position: 50% 1%;
    border-radius: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    transform: translate(0, -115px);
}

main picture img {
    width: 250px;
}

.desktop-box {
    display: none;
}

h1 {
    margin-top: -2.5em;
    margin-bottom: 0.5em;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.accordion {
    margin: 1.5em 1.8em 4em 1.8em;
    width: 100%;
    padding: 0 2em;
    
}

.content-box {
    border-bottom: 1px solid var(--light-grayish-blue);
    padding: 1.5em 0;
    
}

.content-box:hover,
.content-box:focus {
    cursor: pointer;
}

.content-box:hover .question p,
.content-box:focus .question p {
    color: var(--soft-red);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1em;
    color: var(--dark-grayish-blue);
}

.question img {
    width: 12px;
    transition: 0.3s ease-in-out;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}

.answer p {
    width: 90%;
}

.active img {
    transform: rotate(180deg);
}

.active .answer {
    max-height: 100px;
    margin-top: 1em;
}

footer {
    margin-bottom: 1em;
}

.attribution a { 
    color: var(--soft-red); 
}

/*   MEDIA QUERIES   */

@media (min-width: 650px) {
    main {
        background:white;
        flex-direction: row;
        background-position: 0% 0%;
        max-width: 900px;
        overflow: hidden;
    }

    .hero-image {
        background: url("./images/bg-pattern-desktop.svg") no-repeat;
        background-position: 100% 80%;
        background-size: 60em;
        height: 100%;
        transform: translate(-15%, 0);
        display: flex;
        align-items: center;
    }

    main picture {
        
    }

    .hero-image img{
        margin-top: auto;
    }

    main picture img {
        width: 380px;
    }

    .desktop-box {
        display: block;
        transform: translate(-450%, 50%);
    }

    .desktop-box img {
        width: 100px;

    }

    h1 {
        margin: 0;
    }
}